In [2]:
from src.epl_proyection.etl import read_clean_geih
from src.epl_proyection.utils import calendar_features

In [5]:
df = calendar_features.generate_monthly_calendar(start_year = 2001, end_year = 2040)

In [11]:
import pandas as pd
import numpy as np

In [5]:
df = read_clean_geih.read_geih_global_data('data/anex-GEIH-feb2025.xlsx')
df = read_clean_geih.transform_dataframe_v2(df)
df = read_clean_geih.process_dataframe_with_year_month(df)

In [4]:
df.dtypes

Concepto
Year                                        int64
Month                                      object
% población en edad de trabajar            object
Tasa Global de Participación (TGP)         object
Tasa de Ocupación (TO)                     object
Tasa de Desocupación (TD)                  object
Tasa de Subocupación (TS)                  object
TCSD                                       object
TCDFTP                                     object
MCSFT                                      object
Población total                            object
Población en edad de trabajar (PET)        object
Fuerza de trabajo                          object
Población ocupada                          object
Población desocupada                       object
Población fuera de la fuerza de trabajo    object
Población subocupada                       object
Fuerza de trabajo potencial                object
dtype: object

In [ ]:
df['MonthNumber'] = [x.replace('*','') for x in df['Month']]
MONTHSDICT = {'Ene':'01', 'Feb':'02', 'Mar':'03', 'Abr':'04', 'May':'05', 'Jun':'06', 'Jul':'07', 'Ago':'08', 'Sep':'09',
                'Oct':'10', 'Nov':'11', 'Dic':'12'}
df['MonthNumber'] = df['MonthNumber'].map(MONTHSDICT)
df['YearMonth'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['MonthNumber'].astype(str), format='%Y-%m')

In [39]:
new_df = df.copy()
new_df = new_df.T
new_df.columns = new_df.iloc[0]
new_df = new_df.iloc[1:].copy()
new_df.reset_index(inplace = True, names='Year')
new_df['Year'] = pd.to_numeric(new_df['Year'], errors='coerce')
new_df['Year'] = new_df['Year'].ffill()
new_df['Year'] = new_df['Year'].astype(int)
new_df.dropna(axis=1, how='all', inplace = True)
new_df.rename(columns= {np.nan : 'Month'}, inplace = True)

In [40]:
new_df

Concepto,Year,Month,% población en edad de trabajar,Tasa Global de Participación (TGP),Tasa de Ocupación (TO),Tasa de Desocupación (TD),Tasa de Subocupación (TS),TCSD,TCDFTP,MCSFT,Población total,Población en edad de trabajar (PET),Fuerza de trabajo,Población ocupada,Población desocupada,Población fuera de la fuerza de trabajo,Población subocupada,Fuerza de trabajo potencial
0,2001,Ene,68.372188,69.053538,57.575237,16.622326,11.825744,28.448071,0,0,38378.406,26240.156,18119.756,15107.832,3011.925,8120.4,2142.796,0
1,2001,Feb,68.40037,68.948903,56.928209,17.434206,11.677268,29.111474,0,0,38419.624,26279.165,18119.196,14960.258,3158.938,8159.969,2115.827,0
2,2001,Mar,68.425957,68.387911,57.57446,15.811933,11.972872,27.784805,0,0,38456.836,26314.458,17995.908,15150.407,2845.501,8318.55,2154.627,0
3,2001,Abr,68.453948,65.224009,55.756693,14.515078,10.46648,24.981558,0,0,38498.053,26353.437,17188.768,14693.805,2494.963,9164.669,1799.059,0
4,2001,May,68.481856,65.406094,56.225804,14.035833,10.633666,24.669499,0,0,38538.005,26391.541,17261.676,14838.856,2422.82,9129.865,1835.549,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2024,Oct,77.919249,63.905362,58.068399,9.13376,8.142949,17.276709,14.278952,21.960816,51701.515,40285.432,25744.551112,23393.105561,2351.44555,14540.880888,2096.365634,1545.252377
286,2024,Nov,77.944304,63.732815,58.526632,8.168763,7.483779,15.652542,12.841622,19.944587,51745.299,40332.513,25705.045895,23605.261493,2099.784401,14627.467105,1923.708744,1378.13538
287,2024,Dic,77.968249,64.373276,58.499024,9.125295,6.972549,16.097844,14.147315,20.734539,51787.628,40377.907,25992.581546,23620.681703,2371.899843,14385.325454,1812.345493,1520.456183
288,2025,Ene,77.992931,64.115859,56.655314,11.636037,7.68885,19.324886,17.490965,24.670358,51831.449,40424.866,25918.749953,22902.834711,3015.915242,14506.116047,1992.853766,1839.221882
289,2025,Feb,78.017142,64.671285,57.990442,10.330463,7.20772,17.538184,15.330766,22.136557,51874.862,40471.285,26173.300249,23469.477029,2703.823219,14297.984751,1886.498278,1545.713927

In [35]:
new_df

Concepto,Year,NaN,% población en edad de trabajar,Tasa Global de Participación (TGP),Tasa de Ocupación (TO),Tasa de Desocupación (TD),Tasa de Subocupación (TS),TCSD,TCDFTP,MCSFT,NaN,Población total,Población en edad de trabajar (PET),Fuerza de trabajo,Población ocupada,Población desocupada,Población fuera de la fuerza de trabajo,Población subocupada,Fuerza de trabajo potencial
0,2001,Ene,68.372188,69.053538,57.575237,16.622326,11.825744,28.448071,0,0,NaN,38378.406,26240.156,18119.756,15107.832,3011.925,8120.4,2142.796,0
1,2001,Feb,68.40037,68.948903,56.928209,17.434206,11.677268,29.111474,0,0,NaN,38419.624,26279.165,18119.196,14960.258,3158.938,8159.969,2115.827,0
2,2001,Mar,68.425957,68.387911,57.57446,15.811933,11.972872,27.784805,0,0,NaN,38456.836,26314.458,17995.908,15150.407,2845.501,8318.55,2154.627,0
3,2001,Abr,68.453948,65.224009,55.756693,14.515078,10.46648,24.981558,0,0,NaN,38498.053,26353.437,17188.768,14693.805,2494.963,9164.669,1799.059,0
4,2001,May,68.481856,65.406094,56.225804,14.035833,10.633666,24.669499,0,0,NaN,38538.005,26391.541,17261.676,14838.856,2422.82,9129.865,1835.549,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,2024,Oct,77.919249,63.905362,58.068399,9.13376,8.142949,17.276709,14.278952,21.960816,NaN,51701.515,40285.432,25744.551112,23393.105561,2351.44555,14540.880888,2096.365634,1545.252377
286,2024,Nov,77.944304,63.732815,58.526632,8.168763,7.483779,15.652542,12.841622,19.944587,NaN,51745.299,40332.513,25705.045895,23605.261493,2099.784401,14627.467105,1923.708744,1378.13538
287,2024,Dic,77.968249,64.373276,58.499024,9.125295,6.972549,16.097844,14.147315,20.734539,NaN,51787.628,40377.907,25992.581546,23620.681703,2371.899843,14385.325454,1812.345493,1520.456183
288,2025,Ene,77.992931,64.115859,56.655314,11.636037,7.68885,19.324886,17.490965,24.670358,NaN,51831.449,40424.866,25918.749953,22902.834711,3015.915242,14506.116047,1992.853766,1839.221882
289,2025,Feb,78.017142,64.671285,57.990442,10.330463,7.20772,17.538184,15.330766,22.136557,NaN,51874.862,40471.285,26173.300249,23469.477029,2703.823219,14297.984751,1886.498278,1545.713927